.group-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: white;
    padding: 50px 80px;
}
.group-filter input::placeholder{
    color: black;
    
}
.group-filter .ant-select-selection-placeholder{
    color: black;
}
.nameAndGender{
    display: flex;
    margin-bottom: 3px;
    font-size: 17px;
    font-family: 'Padauk', sans-serif;
}
.hover-card{
    transition: .3s;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(85, 84, 84, 0.25);
    margin: 8px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Padauk', sans-serif;

}
.item-card{
    margin: 3px 0;
}
