.create-student h2 {
    font-size: 37px;
    margin-bottom: 1rem;
    font-family: 'Padauk', sans-serif;
  
  }
  
  .create-student button {
    background-color: #ffd803 !important;
    color: black;
    border: none;
    padding: 10px 70px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Padauk', sans-serif;
  }
  .create-student button:hover {
    color: black;
    border: none;
    background-color: #ffd803;
    
    opacity: 0.7;
  }
  .loginButton {
    text-align: center;
    margin-top: 40px;
  }
  .form-control:focus {
    box-shadow: 0 0 0 2px rgb(13 110 253 / 25%);
  }
  