.CardSuggets{
    margin-right: 10px;
    background: #EAF4FC;
    padding: 30px;
    height: 251px;
    border-radius: 23px;
    p{
        margin-bottom: 0;
    }
 .card__top{
     display: flex;
     align-items: center;
     .avt{
         margin-right: 13px;
         img{
             border-radius: 100%;
         }
     }
 }   
 .adress{
     display: flex;
     align-items: center;
 }
}