/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    max-width: 100%;
  }
  ul,li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .ant-btn-primary{
    padding-left: 25px !important;
    padding-right: 25px !important;
    background: #ffd803 !important;
    border-color: #ffd803 !important;
    color: black !important;
  }
  .ant-btn-primary:hover{
    opacity: .7;
  }
  .cancel{
    background: #E4E6EB !important;
    border-color: #E4E6EB !important;
    color: black !important;
  }