
.main-tutor{
    margin: 50px 0;
}
.main-tutor .col-md-3{
    padding: 0 2px;
}
.main-tutor .card {
border: none;
border-radius: 0;

}
.list_student_succgest h1{
    margin-top: 50px;
    font-size: 30px;
}
.nav-tabs{
padding: 0 60px;
}